<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block" *ngIf="isMenuVisible()">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/logo-1.png" alt="hamid" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <app-product-category-menu></app-product-category-menu>
          <li *ngIf="isAdmin()"><a routerLink="/addProduct" routerLinkActive="active-link">Add Product</a></li>
          <li *ngIf="isAuthenticated()"><a routerLink="/order-history" routerLinkActive="active-link">Order History</a></li>
        </ul>
      </nav>
    </div>

  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop" *ngIf="isMenuVisible()">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search-product></app-search-product>
            <app-auth></app-auth>
            <app-cart-status></app-cart-status>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->

    <router-outlet></router-outlet>

  </div>
</div>

<!-- ENDS PAGE CONTAINER -->

<footer *ngIf="isMenuVisible()">
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
