<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkOutFormGroup" (ngSubmit)="onSubmit()">
        <!-- customer form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2">
              <label>First Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">
              </div>
            </div>
            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhiteSpace']">
                first name is required
              </div>
              <div *ngIf="firstName?.errors?.['minLength']">
                <p>first name must be at least 2 characters</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Last Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">
              </div>
            </div>
            <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhiteSpace']">
                last name is required
              </div>
              <div *ngIf="lastName?.errors?.['minLength']">
                <p>last name must be at least 2 characters</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Email</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">
              </div>
            </div>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="email?.errors?.['required'] || email?.errors?.['notOnlyWhiteSpace']">
                Email is required
              </div>
              <div *ngIf="email?.errors?.['pattern']">
                Email must be a valid email address format
              </div>
            </div>
          </div>
        </div>

        <!-- Shipping Address form group -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2">
              <label>Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
              </div>
            </div>
            <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhiteSpace']">
                Street is required
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('shippingAddress')">
                  <option *ngFor="let currentCountry of countries" [ngValue]="currentCountry">{{currentCountry.name}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="shippingAddressCountry?.errors?.['required']">
                Country is required
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let currentState of shippingAddressStates" [ngValue]="currentState">{{currentState.name}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="getShippingAddressState?.invalid && (getShippingAddressState?.dirty || getShippingAddressState?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="getShippingAddressState?.errors?.['required']">
                State is required
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">
              </div>
            </div>
            <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhiteSpace']">
                City is required
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Zip Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">
              </div>
            </div>
            <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhiteSpace']">
                Zip code is required
              </div>
            </div>
          </div>
        </div>

        <!-- Add check box to copy shipping address to billing address -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" formControlName="billingAddressSameShippingAddress" (change)="copyShippingAddressToBillingAddress()">
            <span class="au-checkmark"></span> Billing Address same as shipping address
          </label>
        </div>

        <!-- Billing Address form group -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2">
              <label>Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
              </div>
            </div>
            <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhiteSpace']">
                Street is required
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('billingAddress')">
                  <option *ngFor="let currentCountry of countries" [ngValue]="currentCountry">{{currentCountry.name}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="billingAddressCountry?.errors?.['required']">
                Country is required
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let currentState of billingAddressStates" [ngValue]="currentState">{{currentState.name}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="getBillingAddressState?.invalid && (getBillingAddressState?.dirty || getBillingAddressState?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="getBillingAddressState?.errors?.['required']">
                State is required
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">
              </div>
            </div>
            <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhiteSpace']">
                City is required
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Zip Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">
              </div>
            </div>
            <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhiteSpace']">
                Zip Code is required
              </div>
            </div>
          </div>

        </div>

        <!-- credit card information form group -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>

          <div class="row">
            <div class="col-md-2">
              <label>Card Type</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>MasterCard</option>
                </select>
              </div>
            </div>
            <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="creditCardType?.errors?.['required'] || creditCardType?.errors?.['notOnlyWhiteSpace']">
                Card type is required
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Name On Card</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">
              </div>
            </div>
            <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhiteSpace']">
                Name On Card is required
              </div>
              <div *ngIf="creditCardNameOnCard?.errors?.['minLength']">
                <p>Name On Card must be at least 2 characters</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Card Number</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">
              </div>
            </div>
            <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="creditCardNumber?.errors?.['required'] || creditCardNumber?.errors?.['notOnlyWhiteSpace']">
                Card Number is required
              </div>
              <div *ngIf="creditCardNumber?.errors?.['pattern']">
                Card Number must be 16 digits long
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Security Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text">
              </div>
            </div>
            <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)" class="alert alert-danger mt-1">
              <div *ngIf="creditCardSecurityCode?.errors?.['required'] || creditCardSecurityCode?.errors?.['notOnlyWhiteSpace']">
                Security Code is required
              </div>
              <div *ngIf="creditCardSecurityCode?.errors?.['pattern']">
                <p>Security Code must be 3 or 4 digits long</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Expiration Month</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let currentMonth of creditCardMonths">{{currentMonth}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Expiration Year</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                  <option *ngFor="let currentYear of creditCardYears">{{currentYear}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="form-area">
          <p>Total Quantity : {{ totalQuantity }}</p>
          <p>Total Price : {{ totalPrice | currency : 'USD' }}</p>
        </div>

        <!--  -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
