<div class="detail-section">
  <div class="container-fluid">
    <p style="margin-top: 100px">

    </p>

    <img src="{{product?.imageUrl}}" class="detail-img">
    <img *ngIf="picByte" [src]="getImageUrl()" class="detail-img">

    <div *ngIf="picByte">vrai</div>
    <h3>{{product?.name}}</h3>
    <div class="price">{{product?.unitPrice | currency:'USD'}}</div>
    <button class="btn btn-primary btn-sm" (click)="addToCart()">Add to Cart</button>

    <hr>
    <h4>Descripion</h4>
    <p>{{product?.description}}</p>


    <a routerLink="/products" class="mt-5">Retour à la liste des produits</a>
  </div>
</div>
